#nav {
    float: left;
    width: 495px;
    border-top: 0px solid #2A3F50;
    border-right: 0px solid #2A3F50;
    border-left: 0px solid #2A3F50;
    list-style:none
}
#nav li a {
    display: block;
    padding: 6px 15px;
    background: #2A3F50;
    border-top: 0px solid #eee;
    border-bottom: 0px solid #999;
    text-decoration: none;
    color: white;
    list-style:none;
}
#nav li a:hover, #nav li a.active {
    background: #586B7A;
    color: white;
    list-style:none
}
#nav li ul {
    display: none; // used to hide sub-menus
    list-style:none
}
#nav li ul li a {
    padding: 10px 25px;
    background: #2A3F50;
    border-bottom: 1px dotted #2A3F50;
    list-style:none
}


